name: Build-and-Test-CLANG-MacOS

on:
  workflow_dispatch:
  push:
    branches:
    - main
    - dev

jobs:
  Build:
    runs-on: macos-latest
    
    strategy:
      fail-fast: false
      matrix:
        build_type: [Debug, Release]

    steps:
    - uses: actions/checkout@v4

    - name: Set up Xcode
      run: |
          sudo xcode-select -s /Applications/Xcode_15.4.app/Contents/Developer
          xcodebuild -version

    - name: Configure CMake
      run: cmake -B build -G Xcode -DCMAKE_BUILD_TYPE=${{matrix.build_type}} -DJSONIFIER_TEST="TRUE"

    - name: Build the Test
      run: |
           cmake --build ./Build --config=${{matrix.build_type}} -v

    - name: Install the Test
      run: |
           sudo cmake --install ./Build --config=${{matrix.build_type}}

    - name: Run the Test
      run: |
            sudo chmod +x /usr/local/bin/Json-Performance
            /usr/local/bin/Json-Performance
      continue-on-error: true
      