name: Build-and-Test-CLANG-Ubuntu

on:
  workflow_dispatch:
  push:
    branches:
    - main
    - dev

jobs:
  Build:
    runs-on: ubuntu-latest
    
    strategy:
      fail-fast: false
      matrix:
        build_type: [Debug, Release]

    steps:
    - uses: actions/checkout@v4
  
    - name: Install the latest Clang compiler.
      run:  |
            sudo apt update
            wget https://apt.llvm.org/llvm.sh
            chmod u+x llvm.sh
            sudo ./llvm.sh 20

    - name: Install Seaborn
      run: |
            pip install seaborn

    - name: Configure CMake
      run: |
           sudo cmake -S . -B ./Build -DCMAKE_BUILD_TYPE=${{matrix.build_type}} -DCMAKE_CXX_COMPILER=/usr/bin/clang++-20 -DJSONIFIER_BENCHMARKS="TRUE"

    - name: Build the Test
      run: |
           sudo cmake --build ./Build --config=${{matrix.build_type}}

    - name: Install the Test
      run: |
           sudo cmake --install ./Build --config=${{matrix.build_type}}

    - name: Run the Test
      working-directory: ./Build/Benchmarks
      run: |
           sudo chmod +x ./Json-Performance
           sudo ./Json-Performance
      continue-on-error: true
      