name: Build-and-Test-CLANG-MacOS-UBSan

on:
  workflow_dispatch:
  push:
    branches:
    - ub-san

jobs:
  Build:
    runs-on: macos-latest
    
    strategy:
      fail-fast: false
      matrix:
        build_type: [Debug, Release]

    steps:
    - uses: actions/checkout@v4

    - name: Install the latest clang compiler.
      run: |
            brew install llvm

    - name: Install Seaborn
      run: |
            pip install seaborn

    - name: Install Nasm.
      run: |
            brew install nasm

    - name: Configure CMake
      run: |
           cmake -S . -B ./Build -DCMAKE_BUILD_TYPE=${{matrix.build_type}} -DCMAKE_CXX_COMPILER=/opt/homebrew/opt/llvm/bin/clang++ -DJSONIFIER_BENCHMARKS="TRUE" -DUBSAN=TRUE

    - name: Build the Test
      run: |
           cmake --build ./Build --config=${{matrix.build_type}} -v

    - name: Install the Test\
      run: |
           sudo cmake --install ./Build --config=${{matrix.build_type}}

    - name: Run the Test
      run: |
           ./Build/Benchmarks/Json-Performance
      continue-on-error: true

  Build-Fallback:
    runs-on: macos-latest
    
    strategy:
      fail-fast: false
      matrix:
        build_type: [Debug]

    steps:
    - uses: actions/checkout@v4

    - name: Install the latest clang compiler.
      run: |
            brew install llvm

    - name: Install Seaborn
      run: |
            pip install seaborn

    - name: Install Nasm.
      run: |
            brew install nasm

    - name: Configure CMake
      run: |
           cmake -S . -B ./Build -DCMAKE_BUILD_TYPE=${{matrix.build_type}} -DCMAKE_CXX_COMPILER=/opt/homebrew/opt/llvm/bin/clang++ -DJSONIFIER_BENCHMARKS="TRUE" -DUBSAN=TRUE -DJSONIFIER_CPU_INSRTUCTIONS=0

    - name: Build the Test
      run: |
           cmake --build ./Build --config=${{matrix.build_type}}

    - name: Install the Test
      run: |
           sudo cmake --install ./Build --config=${{matrix.build_type}}

    - name: Run the Test
      run: |
           ./Build/Benchmarks/Json-Performance
      continue-on-error: true
      